.blog {
  &__layout {
    display: flex;
    justify-content: space-between;
    padding-bottom: 31px;

    @media (max-width: $md) {
      flex-direction: column;
    }

    @media (max-width: $sm) {
      padding: 17px 27px 12px;
    }
  }

  &__list {
    width: 100%;
    max-width: 650px;
    padding-right: 15px;

    @media (max-width: $md) {
      max-width: 100%;
      padding-right: 0;
    }

    @media (max-width: $sm) {
      padding: 0 10px;
    }
  }

  &__aside-list {
    flex: 0 0 206px;
    margin-left: 15px;

    @media (max-width: $md) {
      margin-top: 40px;
      margin-left: 0;
    }

    @media (max-width: $sm) {
      padding: 0 10px;
    }
  }

  &__aside-item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list-item {
    margin-bottom: 30px;
    border-bottom: 5px solid var(--color-mandarin-tango);

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__article {
    padding-bottom: 31px;
  }

  &__content-pagination {
    @media (max-width: $md) {
      text-align: center;
    }
  }

  &__content-link {
    padding: 5.7px 6.3px 5.2px 6.7px;
    font-weight: 700;
    color: var(--color-black-brown);

    &--active {
      color: var(--color-white);
      background-color: var(--color-mandarin-tango);
    }
  }
}

.blog-article {
  &__title {
    margin-bottom: 15px;
    font-family: 'Bitter', serif;
    font-size: 1.28rem;
    color: var(--color-gray-brown);
  }

  &__audio {
    width: 100%;
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-top: 30px;
    color: var(--color-black-brown);

    @media (max-width: $md) {
      padding: 0 5px;
    }
  }

  &__description {
    width: 100%;
    max-width: 105px;
  }

  &__desc-item {
    font-family: 'Bitter', serif;
    font-weight: 500;

    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  &__desc-value {
    margin-top: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.86rem;
    color: var(--color-mandarin-tango);
    letter-spacing: 0.3px;
  }

  &__text-inner {
    max-width: 500px;

    @media (max-width: $md) {
      max-width: 100%;
    }
  }

  &__text {
    line-height: 1.28rem;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__more {
    font-size: 0.86rem;
    color: var(--color-black);
    letter-spacing: 1.1px;
    opacity: 0.5;
  }

  &__video-inner {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
  }

  &__video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.aside-article {
  padding-bottom: 9px;

  @media (max-width: $md) {
    max-width: 430px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    padding-bottom: 6px;
    margin-bottom: 20px;
    font-family: 'Bitter', serif;
    font-size: 1.14rem;
    color: var(--color-black-brown);
    border-bottom: 5px solid var(--color-mandarin-tango);

    @media (max-width: $md) {
      display: inline-block;
    }
  }

  &__text {
    line-height: 1.28rem;
    color: var(--color-black-brown);
  }

  &__list-item {
    margin-bottom: 3px;
  }

  &__item-link {
    color: var(--color-black-brown);
  }

  &__adv-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

    @media (max-width: $md) {
      justify-content: center;
    }
  }

  &__adv {
    width: 100px;
    height: 100px;
  }
}
