.home {
  @media (max-width: $sm) {
    padding-top: 50px;
  }

  &__slider {
    height: calc(100vh - 103px);
    overflow: hidden;

    @media (max-width: $md) {
      height: calc(100vh - 103px);
    }

    @media (max-width: $sm) {
      height: calc(100vh - 50px);
    }
  }

  &__slide {
    position: relative;
    width: 100%;
    background: var(--color-white-aluminum) center;
    background-size: cover;
  }

  &__slide-inner {
    position: relative;
    top: 19%;
    left: 20px;
    padding: 0;
  }

  &__slide-title,
  &__slide-desc {
    display: inline-block;
    padding: 8px 15px;
    margin: 1px;
    font-family: 'Bitter', serif;
    font-size: 2.14rem;
    font-weight: 700;
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.8);

    @media (max-width: $xl) {
      font-size: 1.71rem;
    }

    @media (max-width: $sm) {
      font-size: 1.35rem;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  &__slider-btns {
    position: absolute;
    top: 19%;
    z-index: 11;
    width: 100%;
    margin-top: 260px;

    @media (max-width: $xl) {
      margin-top: 233px;
    }

    @media (max-width: $md) {
      margin-top: 233px;
    }

    @media (max-width: $sm) {
      margin-top: 172px;
    }
  }

  &__slider-thumbs {
    position: relative;
    z-index: 12;
    max-width: 940px;
    height: 130px;
    margin-top: -130px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: margin-top 0.3s;

    @media (max-width: $md) {
      display: none;
    }
  }

  &__thumbs-wrapper {
    align-items: center;
    justify-content: space-between;
    cursor: default;
  }

  &__thumb {
    box-sizing: border-box;
    max-width: 75px;
    height: 75px;
    cursor: pointer;
    background: no-repeat center;
    opacity: 0.6;
    transition: opacity 0.3s;

    @media (max-width: $sm) {
      height: 40px;
    }

    &:hover {
      opacity: 1;
    }

    &.swiper-slide-thumb-active {
      border: 2px solid var(--color-mandarin-tango);
      opacity: 1;
    }
  }

  &__slider-pags-inner {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;

    @media (min-width: $md) {
      display: block;
    }
  }

  &__slider-pagination {
    z-index: 10;
    display: flex;
    gap: 10px;
    align-items: center;

    & .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
    }

    & .swiper-pagination-bullet-active {
      background-color: var(--color-red);
    }
  }

  &__layout._layout {
    @media (max-width: $sm) {
      padding-bottom: 0;
    }
  }

  &__slogan {
    padding-bottom: 36px;
    margin: 55px 0 19px;
    font-family: 'Bitter', serif;
    font-size: 1.28rem;
    font-weight: 500;
    text-align: center;

    @media (max-width: $sm) {
      margin: 35px 0 0;
      font-size: 1.14rem;
    }
  }

  &__slogan-span {
    padding: 8px 13px;
    margin: 0 6px;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-mandarin-tango);

    @media (max-width: $md) {
      font-weight: 500;
      color: var(--color-mandarin-tango);
      background-color: transparent;
    }
  }
}

.features {
  display: flex;
  gap: 39px;
  padding-top: 17px;

  @media (max-width: $md) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media (max-width: $sm) {
    padding: 17px 15px 0;
  }

  &__col {
    width: 33%;

    @media (max-width: $md) {
      width: 100%;
      max-width: 500px;
    }
  }

  &__icon-inner {
    display: inline-block;
    width: 31px;
    height: 31px;
    margin-right: 13px;
    line-height: 31px;
    text-align: center;
    background-color: var(--color-black-brown);
  }

  &__icon {
    vertical-align: middle;
    fill: var(--color-white);
    fill-rule: evenodd;
  }

  &__title {
    display: inline-block;
    font-family: 'Bitter', serif;
    font-size: 1.28rem;
    font-weight: 500;
    vertical-align: middle;
  }

  &__text {
    margin-top: 17px;
    line-height: 1.21rem;
    color: var(--color-wet-asphalt);
  }
}

.slider-btns {
  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 1px;
    background-color: var(--color-mandarin-tango);

    @media (max-width: $xl) {
      width: 32px;
      height: 32px;
    }
  }

  &__next {
    padding-left: 1px;
  }

  &__icon {
    fill: var(--color-white);
    fill-rule: evenodd;
  }
}
