.portfolio {
  &__layout._layout {
    @media (max-width: $sm) {
      padding-bottom: 0;
    }

    &._container {
      @media (max-width: $sm) {
        padding-top: 9px;
      }
    }
  }
}

.projects {
  padding: 0;

  &__filter {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
    margin-bottom: 27px;

    @media (max-width: $lg) {
      text-align: center;
    }

    @media (max-width: $md) {
      justify-content: center;
    }

    @media (max-width: $sm) {
      margin-bottom: 5px;
    }
  }

  &__btn {
    padding: 9px 10px 7px;
    margin-bottom: 5px;
    font-family: 'Bitter', serif;
    font-size: 1.07rem;
    font-weight: 500;
    color: var(--color-black-brown);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    overflow: hidden;

    @media (max-width: $lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $sm) {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }

  &__item {
    position: relative;
    width: 100%;
    height: 170px;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--color-white-aluminum);

    @media (max-width: $sm) {
      margin: 0 auto;
      animation-name: fade-in;
      animation-duration: 0.7s;
    }

    @media (min-width: $sm) {
      &:hover .projects__overlay {
        transform: translateY(-30px);
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    right: 0;
    bottom: -30px;
    left: 0;
    padding: 7px 10px;
    font-family: 'Bitter', serif;
    font-weight: 700;
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.6);
    transition: transform 0.3s;

    @media (max-width: $sm) {
      bottom: 0;
    }
  }

  &__hide-work {
    display: none;
  }

  &__btn--active {
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--color-mandarin-tango);
  }
}
