* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active,
a:focus {
  outline: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

// html {
//   width: 100%;
// }

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  // font-weight: 400;
  // font-size: 1rem;
  // line-height: 21px;
  // background-color: #f9f9f9;
  // position: relative;
  background-color: var(--color-smoky-white);
}

._container {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

._top-bg {
  height: 151px;
  background-color: var(--color-white-aluminum);
  background-image: url(../img/geometric-leaves2.png);
  background-position: center;

  @media (max-width: $lg) {
    height: 80px;
  }

  @media (max-width: $md) {
    display: none;
  }
}

._head-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 940px;
  height: 130px;
  padding-left: 38px;
  margin-top: -28px;
  background-image: url(../img/container.jpg);

  @media (max-width: $md) {
    flex-direction: row;
    gap: 15px;
    align-items: center;
    height: 70px;
    margin-top: 0;
  }

  @media (max-width: $sm) {
    height: 47px;
  }
}

._layout {
  position: relative;
  z-index: 10;
  max-width: 940px;
  padding: 31px 27px 27px;
  margin-bottom: -31px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsborough);
  border-bottom: none;

  @media (max-width: $md) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @media (max-width: $sm) {
    padding-top: 25px;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
}

._layout-title,
._layout-text {
  font-family: 'Bitter', serif;
  font-weight: 700;
}

._layout-title {
  margin-bottom: 5px;
  font-size: 30px;
  color: var(--color-white);

  @media (max-width: $md) {
    margin-bottom: 0;
  }

  @media (max-width: $sm) {
    font-size: 20px;
  }
}

._layout-text {
  font-size: 14px;
  color: var(--color-gainsborough);

  @media (max-width: $sm) {
    // font-size: 15px;
  }
}

.visually-hidden {
  @include visually-hidden;
}

._btn-reset {
  cursor: pointer;
  background: transparent;
  border: none;
}

// @keyframes fade-in {
//   from {
//     opacity: 0.1;
//   }

//   to {
//     opacity: 1;
//   }
// }

// .wrapper {
// position: relative;
// display: flex;
// flex-direction: column;
// width: 100%;
// min-height: 100vh;
// overflow: hidden;

// }

// img {
//   max-width: 100%;
// }

// .is-outer {
//   position: relative !important; // stylelint-disable-line declaration-no-important
//   left: -9999px !important; // stylelint-disable-line declaration-no-important
// }

// .site-container {
//   overflow: hidden;
// }

// .stop-scroll {
//   @include stop-scroll;
// }

// .is-hidden {
//   display: none !important; // stylelint-disable-line declaration-no-important
// }

// .for-mobile {
//   display: none;

//   @include mobile {
//     display: block;
//   }
// }

// .error {
//   border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
// }

// .js-focus-visible :focus:not(.focus-visible) {
//   outline: none;
// }
// ---------------
// CUSTOM COMPONENTS STYLES
// .burger {
//   --burger-width: 40px;
//   --burger-height: 20px;
//   --burger-line-height: 2px;

//   @include burger;
// }
// ---------------------

// html{
//   scroll-behavior: smooth;
//   // height: 100%;
// }

// html{
//   height: 100%;
//   width: 100%;
// }

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
//   // width: 100%;
//   position: relative;
// }

// .noscript-info {
//   z-index: 100;
//   width: 100%;
//   padding: 25px;
//   font-size: 28px;
//   line-height: 36px;
//   text-align: center;
//   background-color: #fff;
// }
