* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active,
a:focus {
  outline: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: var(--color-black-brown);
  letter-spacing: 0.5px;
  background-color: var(--color-smoky-white);
}

._container {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

._top-bg {
  height: 151px;
  background: var(--color-white-aluminum) url(../img/geometric-leaves2.png) center;

  @media (max-width: $lg) {
    height: 80px;
  }

  @media (max-width: $md) {
    display: none;
  }
}

._head-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 940px;
  height: 130px;
  padding-left: 38px;
  margin-top: -28px;
  background-image: url(../img/container.jpg);

  @media (max-width: $md) {
    flex-direction: row;
    gap: 15px;
    align-items: center;
    height: 70px;
    margin-top: 0;
  }

  @media (max-width: $sm) {
    height: 100px;
    padding-top: 56px;
  }
}

._layout {
  position: relative;
  z-index: 10;
  max-width: 940px;
  padding: 31px 27px 27px;
  margin-bottom: -31px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsborough);
  border-bottom: none;

  @media (max-width: $md) {
    padding: 31px 15px 27px;
  }

  @media (max-width: $sm) {
    padding: 25px 0 27px;
    margin-bottom: 0;
  }
}

._layout-title,
._layout-text {
  font-family: 'Bitter', serif;
  font-weight: 700;
}

._layout-title {
  margin-bottom: 5px;
  font-size: 2.14rem;
  color: var(--color-white);

  @media (max-width: $md) {
    margin-bottom: 0;
  }

  @media (max-width: $sm) {
    font-size: 1.43rem;
  }
}

._layout-text {
  color: var(--color-gainsborough);
}

.visually-hidden {
  @include visually-hidden;
}

._btn-reset {
  cursor: pointer;
  background: transparent;
  border: none;
}

.up-btn {
  z-index: 15;
  display: none;
  padding: 12px 15px 8px;
  background-color: rgba(219, 219, 219, 0.5);
  transition: opacity, background-color 0.3s;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-mandarin-tango);
    }

    &:hover .up-btn__icon {
      fill: var(--color-white);
    }
  }

  &__icon {
    fill: var(--color-gray-brown);
    transition: fill 0.3s;
    transform: rotate(90deg);
  }

  @media (min-width: $sm) {
    position: fixed;
    top: 35%;
    right: 22px;
  }
}

._hover {
  transition: opacity 0.2s;

  @media (hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }
}
