:root {
  // COLORS
  --color-black: #000;
  --color-white: #fff;
  --color-black-brown: #232323;
  --color-gray-brown: #353535;
  --color-wet-asphalt: #535353;
  --color-mandarin-tango: #e55047;
  --color-white-aluminum: #a5a5a5;
  --color-gainsborough: #dbdbdb;
  --color-smoky-white: #f9f9f9;
}
// BREAKPOINTS
$xl: 1182px;
$lg: 992px;
$md: 768.9px;
$sm: 480px;
